{% extends "main.html" %}
{% block content %}
{% include 'header.html' %}

      <div class="row">
        <div class="col-md-12">
      </div>
      </div class="row">
        <div class="col-md-12">
      </div>
      
      <div class="row">
        <div class="col-md-12">
            <h2>Edit Item</h2>
            <br>
            <form action="{{url_for('editItem', item_id=item.id )}}" method = 'POST'>
              <p>Name of the Beer:</p>
              {% if error %}<p id="error_message">{{ error }}</p>{% endif %}
              <input type='text' size='30' name='title' placeholder = '{{item.name}}'><br><br>
              <p>Description:</p>
              <textarea name='description' cols="60" rows="4" placeholder = '{{item.description}}'></textarea> <br><br>
              
              <p>Category:</p>
              <select name="category_dropdown">
              {% for i in categories %}
                <option value='{{i.id}}'> {{i.name}}</option>
              {% endfor %}
      

               
              </select><br><br>
              <input type='submit' value='edit'>
            </form>

            
        </div>
      </div>

{% endblock %}
