{% extends "main.html" %}
{% block content %}
{% include 'header.html' %}

      <div class="row">
        <div class="col-md-12">
          <h1>Beer App</h1>
          <h3>find your favorite beer</h3>
        </div>
        
      </div>

      <div class="row">
        <div class="col-md-12">
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
            <h2>{{item.name}}</h2>
            <br>{{item.description}}</br>
            <br>
            <a href='{{ url_for( 'editItem', item_id=item.id) }}'>edit</a>
             |
            <a href='{{ url_for( 'deleteItem', item_id=item.id) }}'>delete</a>
            <br>
        </div>
      </div>

{% endblock %}
